<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Resources.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,347}</string>
                <key>spriteSourceSize</key>
                <string>{118,347}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>space.png</string>
            <key>size</key>
            <string>{120,349}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:267ab578708cb0c81da65ff564cfa087:50c2e11eebf2f6d38648cd6b9a18722e:061e1bbe47c75c5587a9fceb9f71eac9$</string>
            <key>textureFileName</key>
            <string>space.png</string>
        </dict>
    </dict>
</plist>
